.button-style{
    background-color: whitesmoke;
}
.button-style:hover{
    background-color: black;
    color: white;
    transition: .1s;
}

/* calculation section  */
.under-line{
border: 1px solid black;
}